<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Le Chevert</title>
    <link href="https://fonts.googleapis.com/css2?family=Caudex&family=Krona+One&family=Poppins:wght@300&family=Space+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <script src="script.js" defer></script>
</head>
<body class="home__background">
    <section>
        <img src="backcode-removebg-preview.png" class="home__background-code" alt="">
    </section>
    <div class="home__moon"></div>
    <section class="home_section2">
        <div class="home__box">Projets</div>
        <div class="home__box">Expérience</div>
        <div class="home__box">à propos</div>
    </section>
    <section>
        <div class="home__container-main">
            <div class="home__container-name">
                <img class="home__8" src="8left.png" alt="">
                <div class="home__name">harles</div>
            </div>
            <div class="home__container-name">
                <img class="home__8" src="8right.png" alt="">
                <div class="home__name">hevert</div>
            </div>
            <div class="home__descr">Recherche d'opportunités <br> développeur back-end </div>
        </div>
    </section>
    <p class="a">∞</p>
    <p class="b">8</p>


   
    <!--
    <div class="ide-container">
        <div class="ide-container2">
            <div class="ide-container3"> </div>
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
        </div>
        -->

    </div>
</body>
</html>