<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Le Chevert</title>
    <link href="https://fonts.googleapis.com/css2?family=Caudex&family=Krona+One&family=Poppins:wght@300&family=Space+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <script src="script.js" defer></script>
</head>
<body>
    <section class="home_section2">
        <div class="home__box">Projets</div>
        <div class="home__box">Expérience</div>
        <div class="home__box">à propos</div>
    </section>
    <section>
        <img src="/folder.png" class="projects__folder" alt="folder">
    </section>
    
</body>
</html>